@import 'base/variables';
@import 'base/generales';
@import 'components/header';
@import 'components/seccion1';
@import 'components/seccion2';
@import 'components/seccion3';
@import 'components/footer';
@import 'components/_headerProducts';
@import 'components/_main';
@import 'components/__mainFinalizacion';
@import 'components/__mainArmatupc';
@import 'components/_contacto';
@import 'components/_mailEnviado'