.productos__grid {
    display: grid;
    grid-template-columns: repeat(1, 300px 1fr)
}



.productos__filtroaside {
    margin-left: 2rem;
    margin-top: 2rem;
}
details > summary:first-of-type {
    list-style-type: none;
}
.producto__flecha{
    display: flex;
    justify-content: end;
    margin-top: -2.5rem;
    img{
        width: 20px;
        height: 20px;
    }
}
.productos__filtrado {
    
    border-right: solid 1px black;
    summary{
        color: $negro;
        
        font-size: 2rem;
        margin-bottom: 2.2rem;
    }
}

.productos__a {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

summary:active .producto__flecha img{
transform: rotate(90deg);
}

.seccion__productos{
    position: relative;
}

.buscador__flex {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
        .buscadores {
            select {
                width: 200px;
                text-align: center;
                padding: .8rem;
                border-radius: 0.5rem;
                font-size: 1.2rem;
                outline: none;
                color: black;
                border: solid 1px rgb(189, 54, 189);
            }
        }
}



.productos__cardgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    row-gap: 1rem;
    margin-top: 2rem;
    
}

.productos {
    display: flex;
    margin: auto;
}

.producto__imagen {
    background-image: url(../imagenes/netbooks2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
}



.producto__background {
    background-image: url(../imagenes/recuadrotienda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 320px;
    height: 150px;
}

.productos__backgroundB{
    display: flex;
    justify-content: center;
    width: 310px;
    height: 104px;
    margin: auto;
    margin-top: 1rem;
}

.texto__producto{

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: -10rem;
        h4{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.5rem;
            margin-top: 1rem;
        }
        a {
            font-size: 1.1rem;
            color: yellow;
        }
}

.linea {
    border: solid .1rem $rojoLine;
    width: 150px;
    margin: auto;
}

.boton__añadir {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    

        a{
            color: $blanco;
            background-color: $negro;
            padding: .4rem;
            margin-top: -.6rem;
            width: 200px;
            border-radius: 2rem;
            font-size: 1.2rem;
            text-align: center;
        }
}

.barra__cambio {
    display: flex;
    color: black;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    img {
        width: 20px;
        height: 20px;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.img-1 {
    transform: rotate(90deg);
}

.img-2 {
    transform: rotate(-90deg);
}


.pruebapopup {
    background-color: rgba(0, 0, 0, 0.884);
    text-align: center;
    width: 70rem;
    height: 30rem;
    position: absolute;
    border-radius: 2rem;
    top: 25%;
    right: 35%;
    left: 35%;
    display: flex;
    -webkit-box-shadow: 0px 0px 102px 13px rgba(255,76,255,1);
-moz-box-shadow: 0px 0px 102px 13px rgba(255,76,255,1);
box-shadow: 0px 0px 102px 13px rgba(255,76,255,1);
    flex-direction: column;
        h4 {
            margin-top: 10rem;
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
            margin-bottom: 6rem;
        }
        a {
            
             &:hover {
                 color: yellow;
                 transition: 1s;
             }
        }
}

.btn-popup {
    color: $blanco;
            
            font-size: 1.5rem;
            background-color: $violetaBoton;
            border-radius: 2rem;
            padding: .6rem 10rem;
            transition: 1s;
            margin: auto;
}



.background__popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    width: 100vw;
    height: 100vh;
    
}
.backgroundpopup-show {
    display: none;
}
