.seccion1__finalizacion{
    background-color: black;
    height: 750px;
}
.titulo__finalizacion{
    display: flex;
        h3{
            margin: auto;
            margin-top: 2rem;
            font-size: 3rem;
        }
}

.grid__finalizacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    margin-top: 5rem;
 
}


.card1__finalizacion{
    background-image: url(/imagenes/backCard1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 550px;
    height: 600px;
}

.card2__finalizacion{
    background-image: url(/imagenes/backCard2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 550px;
    height: 600px;
}

.card1__filtro{
    background-color: rgba(0, 0, 0, 0.37);
    width: 550px;
    height: 600px;
    margin-bottom: -58em;
}

.card2__filtro{
    background-color: rgba(0, 0, 0, 0.37);
    width: 550px;
    height: 600px;
    margin-bottom: -58em;
}

.h3__cards {
    text-align: center;
    font-size: 2.5rem;
}

.p__cards {
    text-align: center;
    font-size: 1.5rem;
}

.eleccion1__card1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.form__background {
    height: 400px;
    width: 400px;
    margin: auto;
    margin-bottom: -38rem;
    background-color: rgba(0, 0, 0, 0.445);
}

.formulario__card1{
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: auto;
        input{
            outline: none;
            text-align: center;
            font-size: 1.5rem;
            border-radius: 2rem;
            border: none;
            padding: 0.5rem;
        }
}
.pregunta__card1{
    margin-top: 2rem;
}

.label__card1{
    text-align: center;
    font-size: 2.2rem;
}

.submit__card1 {
    margin-top: 1.2rem;
    background-color: $violetaBoton;
    color: white;
}

.card2__form1{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;

}
.card2__form2{
    display: flex;
    gap: 2rem;
    
    justify-content: center;
    
}

.total__card2 {
    margin-top: 2rem;
}

.formulario__card2{
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: auto;
        input{
            outline: none;
            text-align: center;
            font-size: 1.5rem;
            border-radius: 2rem;
            border: none;
            padding: 0.5rem;
        }
}

.select__card2 {
    font-size: 1.3rem;
    text-align: center;
    border-radius: 2rem;
    border: none;
    outline: none;
}

.btn__card2 {
    display: flex;
    justify-content: center;
  
     a{
        color: white;
        font-size: 1.5rem;
        background-color: $violetaBoton;
        padding: 1rem;
        text-align: center;
        width: 200px;
        border-radius: 2rem;
     }
}

.codigo__card2{
    font-size: 2rem;
    text-align: center;
    color: white;
    filter: drop-shadow(0px 2px 1px rgb(0, 0, 0));
}